<?xml version="1.0"?>
<launch>
  <arg name="world_name" default="2022_april_open"/>
  <arg name="train_script" default="$(find deepracer_simulation)/train/train.py"/>
  <arg name="gui" default="true"/> <!-- Flag para interfaz gráfica -->

  <!-- Launch the racetrack with car -->
  <include file="$(find deepracer_simulation)/launch/racetrack_with_racecar.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="gui" value="$(arg gui)"/> <!-- Pasar el flag gui -->
  </include>

  <!-- Launch the training script -->
  <node name="train_script" pkg="deepracer_simulation" type="try.py" output="screen">
    <!-- Set additional arguments if needed for train.py -->
  </node>
</launch>